body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://images.pexels.com/photos/1387577/pexels-photo-1387577.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

